*,
*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-dark);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

body {
  background-image: url('../images/background-beaty-zone.png');
  background-position: center 1300px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif;
}

a {
  display: inline-block;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  padding: 96px 0;
}
.hero-section {
  background-image:
    linear-gradient(
      83deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898) 41.31%,
      rgba(255, 255, 255, 0.193204) 58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('../images/doc-hero.png');
  width: 100%;

  padding: 80px 0 60px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    .element {
      background-image:
        linear-gradient(
          83deg,
          #ffffff 30.62%,
          rgba(255, 255, 255, 0.850898) 41.31%,
          rgba(255, 255, 255, 0.193204) 58.65%,
          rgba(255, 255, 255, 0) 72.78%
        ),
        url('/images@2x/doc-hero-2.png');
      width: 100%;

      padding: 80px 0 60px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
