@import './_utils/utils';
@import './_utils/fonts';
@import './_utils/variables';
@import './_base';
@import './components/buttons';
@import './components/links';
@import './components/header';
@import './components/hero-section';
@import './components/icons';
@import './components/about-section';
@import './components/form';
@import './components/section-why-us-section';
@import './components/section-procedures';
@import './components/contact';
@import './components/footer';
@import './components/modal';

@import './_utils/mixins';
