@import './_utils/utils.scss';
@import './_utils/fonts.scss';
@import './_utils/variables.scss';
@import './_base.scss';
@import './components/buttons.scss';
@import './components/links.scss';
@import './components/header.scss';
@import './components/hero-section.scss';
@import './components/icons.scss';
@import './components/about-section.scss';
@import './components/form.scss';
@import './components/section-why-us-section.scss';
@import './components/section-procedures.scss';
@import './components/contact.scss';
@import './components/footer.scss';
@import './components/modal.scss';
