:root {
  --color-primary-light: #ffffff;
  --color-primary-blue: #007bff;
  --color-primary-dark: #011c44;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light: #747272;
  --color-unico-black: #000000;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
