.hero {
  background-image:
    linear-gradient(
      83deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898),
      41.31%,
      rgba(255, 255, 255, 0.193204),
      58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('../images/doc-hero.png');
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

hero {
  flex-direction: column;
  align-items: center;
  padding-left: 106px;
}

.text {
  font-family: Roboto, sans-serif;
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 16px;
  margin-left: 10px;
}

.hero-text {
  color: var(--color-primary-blue);
  font-size: 140px;
  line-height: 0.81;
  max-width: 529px;
  font-weight: 700;
  margin-bottom: 40px;
}

.call-hero {
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
}

.form-text {
  font-size: 12px;
  padding-top: 14px;
  line-height: 1.3;
  color: var(--color-secondary-light);
  margin-left: 10px;
  align-items: center;
  font-weight: 400;
}
.hero-servis {
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
}

.hero-call {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.servis-content {
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent {
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
