.about-call-container {
  position: relative;
  display: flex;
  gap: 40px;
}
.about-call-content {
  display: flex;
  flex-direction: column;
  max-width: 683px;
  margin-top: 40px;

  &__about-call-about {
    font-size: 32px;
    line-height: 1.2;

    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
    }
  }
  &__about-text {
    font-family: Roboto, sans-serif;
    color: var(--color-secondary-dark);
    margin-bottom: 40px;
    font-size: 22px;
    line-height: 1.5;
  }
}

.about-images img {
  object-fit: cover;
  border-radius: 50%;
  display: none;
  @media screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    gap: 16px;

    img {
      width: 327px;
      height: 327px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
.about-images {
  gap: 16px;
  width: 327px;
  height: 327px;

  &__about-img-women-1 {
    margin-left: 16px;
  }
  &__about-img-women {
    margin-left: 192px;
  }
}
.about-stars {
  position: relative;
  &__star-1 {
    position: absolute;
    top: 334px;
    right: 120px;
  }
  &__star-2 {
    position: absolute;
    top: 72px;
    right: -221px;
  }
  &__star-3 {
    position: absolute;
    top: 304px;
    right: -186px;
  }
}

.about-call {
  color: var(--color-primary-dark);
  max-width: 570px;
  font-size: 64px;
  margin: 0 auto 40px;
}
.about-call .centered {
  text-align: center;
}
.color-blue {
  font-size: 64px;
  font-family: play, sans-serif;
  font-weight: 700;

  color: var(--color-primary-dark);
  color: var(--color-primary-blue);
  font-weight: 700;
}
