.about-section {
  .about-call-content__second-line {
    display: block;
  }

  // --- Layout контейнера секції ---
  .about-call-container {
    margin-top: 40px;
    position: relative;
    display: flex;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      margin-top: 94px;
    }
  }

  // --- Текстовий блок ---
  .about-call-content {
    display: flex;
    flex-direction: column;
    max-width: 683px;
    margin-top: 40px;

    &__about-call-about {
      font-size: 32px;
      line-height: 1.2;

      @media screen and (min-width: $bp-tablet) {
        font-size: 64px;
      }
    }

    &__about-text {
      font-family: Roboto, sans-serif;
      color: var(--color-secondary-dark);
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 1.5;

      @media screen and (min-width: $bp-tablet) {
        font-size: 22px;
      }
    }

    &__accent-about {
      color: var(--color-primary-blue);
    }
  }

  // --- Фото (показуємо тільки на desktop) ---
  .about-images {
    display: none;
    gap: 16px;
    width: 327px;
    height: 327px;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 327px;
      height: 327px;
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }

    &__about-img-women-1 {
      margin-left: 16px;
    }

    &__about-img-women {
      margin-left: 192px;
    }
  }

  // --- Декор (зірочки) ---
  //
  .about-stars {
    position: static;
  }

  .about-stars__star-1,
  .about-stars__star-2,
  .about-stars__star-3 {
    position: absolute;
    z-index: 5;
    display: block;
    pointer-events: none;
  }

  .about-stars__star-1 {
    top: 334px;
    right: 333px;
  }

  .about-stars__star-2 {
    top: 72px;

    transform: translateX(221px);
  }

  .about-stars__star-3 {
    top: 304px;

    transform: translateX(186px);
  }
  @media screen and (max-width: ($bp-desktop - 1px)) {
    .about-stars__star-2,
    .about-stars__star-3 {
      display: none;
    }

    .about-stars__star-1 {
      top: auto;
      right: 16px;
      bottom: 4px;
      left: auto;
      transform: none;
    }
  }
}
