.hero-section {
  background-image:
    linear-gradient(
      83deg,
      #ffffff 30.62%,
      rgba(255, 255, 255, 0.850898),
      41.31%,
      rgba(255, 255, 255, 0.193204),
      58.65%,
      rgba(255, 255, 255, 0) 72.78%
    ),
    url('../images/doc-hero.png');
width: auto;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__hero {
    flex-direction: column;
    align-items: center;
    padding-left: 106px;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
  flex-direction: row;
  align-items: center;      
  justify-content: center;  
  height: 100vh;            
  text-align: center;
}
    }
  }
  &__text {
    font-family: Roboto, sans-serif;
    color: var(--color-primary-dark);
    font-size: 18px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 16px;
    margin-left: 10px;
  }
  &__title {
    color: var(--color-primary-blue);
    font-size: 96px;
    text-align: left;
    line-height: 0.85;
    max-width: 529px;
    font-weight: 700;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
    }
  }
  &__form-text {
    font-size: 12px;
    padding-top: 14px;
    line-height: 1;
    color: var(--color-secondary-light);
    margin-left: 10px;
    align-items: center;
    font-weight: 400;
  }
}

.call-hero {
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
}

.hero-servis {
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
}

.hero-call {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.servis-content {
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent {
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
