.hero-section {
  background-image:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('../images/doc-hero.png');
  width: 100%;

  padding: 80px 0 60px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    background-image:
      linear-gradient(
        83deg,
        #ffffff 30.62%,
        rgba(255, 255, 255, 0.850898) 41.31%,
        rgba(255, 255, 255, 0.193204) 58.65%,
        rgba(255, 255, 255, 0) 72.78%
      ),
      url('../images/doc-hero.png');
    padding: 150px 0;
    min-height: auto;
    background-position: center;
  }
}

.container-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-left: 106px;

  @media screen and (min-width: $bp-tablet) {
    align-items: flex-start;
    text-align: left;
    padding-left: 106px;
    padding-right: 0;
  }

  &__text {
    font-family: Roboto, sans-serif;
    color: var(--color-primary-dark);
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 12px;
    margin-left: 0;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      text-align: left;
      margin-bottom: 16px;
      margin-left: 10px;
    }
  }
  &__title {
    color: var(--color-primary-blue);
    font-size: 54px;
    text-align: center;
    line-height: 0.85;
    width: 100%;
    max-width: 529px;
    font-weight: 700;
    margin-bottom: 28px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      text-align: left;
      margin-bottom: 40px;
    }
  }
  &__form-text {
    font-size: 12px;
    padding-top: 14px;
    line-height: 1;
    color: var(--color-secondary-light);
    margin-left: 10px;
    align-items: center;
    font-weight: 400;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      padding-top: 14px;
      line-height: 1;
    }
  }
}

.call-hero {
  font-family: 'Roboto', serif;
  font-size: 12px;
  color: var(--color-secondary-dark);
}

.hero-servis {
  font-family: Play, sans-serif;
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.5;
}

.hero-call {
  color: var(--color-primary-dark);
  font-weight: 700;
}

.servis-content {
  padding-top: 40px;
  font-family: Roboto, sans-serif;
}

.hero-title .accent {
  color: var(--color-secondary-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}
