.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100dvh !important;
  height: 100dvh !important;
  overflow-y: auto;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  z-index: 1000;

  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition:
    transform 0.3s,
    visibility 0.3s;

  @media screen and (min-width: $bp-desktop) {
    display: none !important;
  }

  &.is-open {
    display: flex;
    flex-direction: column;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    background: var(--color-primary-dark);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms ease;
  }

  &__nav {
    // height: 100%;
    flex: 1;
    padding: 72px 24px 32px;
    display: flex;
    flex-direction: column;
  }

  &__list {
    list-style: none;
    margin: 32px 0 16px;
    padding: 0;
    display: grid;
    gap: 16px;
  }

  &__link {
    text-decoration: none;
    color: var(--color-primary-dark);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    transition: color 0.2s;

    &:hover,
    &:focus-visible {
      color: var(--color-primary-blue);
      transform: translateY(-1px);
      outline: none;
    }
  }

  &__icons {
    margin-top: 0;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__icon-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    transition:
      background-color 0.2s,
      transform 0.2s;

    &:hover,
    &:focus-visible {
      background-color: rgba(43, 127, 255, 0.12);
      outline: none;
      transform: translateY(-1px);
    }
  }

  &__icon-img {
    width: 30px;
    height: 30px;
    display: block;
    object-fit: contain;
    filter: brightness(0) saturate(100%);
    transition: filter 0.2s;

    .mobile-menu__icon-link:hover &,
    .mobile-menu__icon-link:focus-visible & {
      filter: brightness(0) saturate(100%) invert(37%) sepia(91%)
        saturate(2308%) hue-rotate(199deg) brightness(103%) contrast(101%);
    }
  }
}
