.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  width: 400px;
  font-size: 16px;
  line-height: 1.5;
}

.address-copyrigh {
  color: var(--color-secondary-light);
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}
