.contact-map {
  flex-shrink: 0;
  border-radius: 30px;
  gap: 16px;
}

.contact-map img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 32px;
}

.contact-container {
  display: flex;
  gap: 40px;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 420px;

  justify-content: center;
  padding: 50px 40px;
  background: var(--color-primary-dark);
  border-radius: 30px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}
