.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  z-index: 101;
  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__nav {
    padding: 32px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }
  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 54px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__burger {
    @media screen and (min-width: $bp-desktop) {
      background-color: transparent;
      padding: 0;
      border: none;
      width: 24px;
      height: 24px;
      fill: var(--color-primary-light);
      display: none;
    }
  }
}

.header-icon {
  display: flex;
  gap: 16px;
  align-items: center;
  &__img {
    display: block;

    @media screen and (max-width: $bp-desktop) {
      cursor: pointer;
      opacity: 0.8;
      display: none;
    }
  }
  &__img:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
