.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  z-index: 101;
  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  &__nav {
    padding: 32px 0;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
  }
  &__menu {
    display: flex;
    gap: 54px;
    flex-grow: 1;
    justify-content: center;
  }
}

.header-icon:last-child {
  display: flex;
  gap: 16px;
  align-items: center;
}

@media (max-width: 1200px) {
  .
    display: none;
 
  
}