nav ul:last-child img {
  cursor: pointer;
  opacity: 0.8;
}

nav ul:last-child img:hover {
  opacity: 1;
  transform: scale(1.1);
}
.header-icon:last-child {
  display: flex;
  gap: 16px;
  align-items: center;
}
.header-icon {
  display: flex;
  gap: 16px;
  align-items: center;
}
