.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  z-index: 99;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: auto;
  max-height: 90vh;
  background-color: var(--color-primary-dark);
  border-radius: 48px;
  overflow-y: auto;
  padding: 48px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: var(--color-primary-dark);
  border: none;
  cursor: pointer;
  fill: var(--color-primary-light);
  transition: fill 0.3s ease;
}

.title-form {
  font-size: 64px;
  text-align: center;
  margin-bottom: 24px;
  color: var(--color-primary-light);
  max-width: 435px;
  font-family: 'Play', sans-serif;
  line-height: 1.2;
}

.form-header {
  text-align: center;
  margin-bottom: 32px;
  font-family: 'Roboto', sans-serif;
}

.form-contact-form {
  max-width: 322px;
  font-size: 26px;
  font-weight: 700;
  color: var(--color-primary-light);
  line-height: 1.3;
  margin: 0 auto;
  padding-bottom: 32px;
  text-align: center;
}

.modal form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .form-field {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* form modal */

.form-label {
  display: block;

  font-size: 13px;
  line-height: 1.5;
  width: 100%;
  max-width: 400px;
  margin-bottom: 8px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.form-input {
  padding: 18px 32px;
  width: 100%;

  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
  color: var(--color-primary-light);
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.form-input:focus {
  border-color: var(--color-primary-blue);
  background-color: transparent;
  outline: none;
  color: var(--color-primary-light);
}

.form-input::placeholder {
  color: var(--color-primary-light);
  font-size: 13px;
  opacity: 0.7;
}

.form-input::-webkit-input-placeholder {
  color: var(--color-primary-light);
  opacity: 0.7;
}

.form-terms {
  font-size: 11px;
  color: var(--color-secondary-light);
  text-align: center;

  line-height: 1.8;
}

.form-terms-link {
  color: var(--color-secondary-light);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.form-terms-link:hover {
  color: var(--color-primary-blue);
}
